{% extends 'level/base.html' %}
{% load humanize %}
{% load static %}
{% block main_area %}
		<!-- 상세페이지 시작 -->

		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">{{ subject.title }}</h2>
						<a>{{ subject.author | upper }}</a>
						<p>{{ subject.content }}</p>
						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'level/images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>[배우는 것] 뿐만 아니라 함께 [즐기는 것]</h3>
									<p>취미를 배우는데 돈내고 들어야해? </p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'level/images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>beginner, professional 제외 완전 무료</h3>
									<p>아 뭐라고 쓰지..</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'level/images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>조이너클래스는 완전 무료</h3>
									<p>조이너클래스는 취미 입문자를 위한 클래스로 완전 무료입니다! 그렇다면 조이너클래스를 무료로 개설하면 수익은 어디서 얻나요? 정답은 취미모임 활동비입니다!</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'level/images/support.svg' %}" alt="Image" class="imf-fluid">
									</div>
									<h3>취미모임 개설하면 참여인원만큼 활동비 지급</h3>
									<p>취미모임은 조이너클래스 강의를 업로드 한 사람만 개설할 수 있습니다. 조이너클래스에 강의를 업로드하고 취미모임 개설하면 참여인원만큼 활동비를 지급해드립니다. </p>
								</div>
							</div>

						</div>
					</div>


					<div class="col-lg-5">
						<div class="img-wrap">
							{% if subject.head_image %}
							<img src="{{ subject.head_image.url }}" alt="{{ subject.title }} head_image" class="img-fluid">
							{% else %}
							<img src="https://picsum.photos/seed/{{ subject.id }}/1920/1080" alt="random_image" class="img-fluid">
							{% endif %}
						</div>
					</div>


				</div>
			</div>
		</div>

		<!-- 상세페이지 끝 -->


		<!-- 다운로드버튼 만들기 -->
		{% if subject.file_upload %}
		<div class="container">
			<a href="{{ subject.file_upload.url }}" class="btn btn-outline-secondary" role="button" download>강의 자료 다운로드</a>
		</div>
		{% endif %}
		<!-- 다운로드버튼 만들기 끝 -->

{% endblock %}