{% extends 'level/base.html' %}
{% load humanize %}
{% load static %}
{% block main_area %}
		<!-- 강좌 섹션 시작 -->
		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

		      		<!-- Start Column 1 -->
					{% for s in subjects %}
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{{ s.get_absolute_url }}">
							{% if s.head_image %}
							<img src="{{ s.head_image.url }}" alt="{{ s }} head im-age" class="img-fluid product-thumbnail">
							{% else %}
							<img src="https://picsum.photos/seed/{{ s.id }}/1920/1080" alt="random_image" class="img-fluid product-thumbnail">
							{% endif %}
							<h3 class="product-title">{{ s.title }}</h3>
							<strong class="product-price">{{ s.price | intcomma }}</strong>

							<span class="icon-cross">
								<img src="{% static 'level/images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					{% endfor %}
					<!-- End Column 1 -->

					<!-- 더 추가하려면 위에 칼럼1,2,3,4 복사하면 됨 -->

		      	</div>
		    </div>
		</div>
		<!-- 강좌 섹션 끝 -->
{% endblock %}