
{% load static %}

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Enjoying navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/landing/">Enjoying<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsEnjoying" aria-controls="navbarsEnjoying" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsEnjoying">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="/landing/">Home</a>
						</li>
						<li class="active"><a class="nav-link" href="/level/">Joiner</a></li>
						<li><a class="nav-link" href="/">Beginner</a></li>
						<li><a class="nav-link" href="pro.html">Professional</a></li>
						<li><a class="nav-link" href="/community/">Friends</a></li>
						<li><a class="nav-link" href="/contactus/">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="#"><img src="{% static 'level/images/user.svg' %}"></a></li>
						<li><a class="nav-link" href="cart.html"><img src="{% static 'level/images/cart.svg' %}"></a></li>
					</ul>
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>배움을 즐겁게 <span>Joiner!</span></h1>
								<p class="mb-4">Joiner는 “취미를 배울때 초보자라는 의미의 ‘beginner’보다 더 가볍게 즐기는 사람을 위한 클래스는 없을까?” 라는 질문에서 시작되어 만들졌습니다.</p>
								<p class="mb-4">강사와 학생의 관계로 취미를 [배우는 것]이 아닌 친구를 만나서 친구와 함께 취미를 [즐기는 것] 을 목적으로 한 클래스가 ‘조이너 클래스’ 입니다.</p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'level/images/guitar1.png' %}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
